Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@sankalpg10 
khanduri
/
react-native-intro-tutorial
1
01
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
react-native-intro-tutorial/.gitignore
@khanduri
khanduri Working app
Latest commit d98bbdf on Feb 7, 2016
 History
 1 contributor
34 lines (31 sloc)  341 Bytes
  
# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IJ
#
.idea
.gradle
local.properties

# node.js
#
node_modules/
npm-debug.log
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
